@{
    ViewBag.Title = "Home Page";
}

@*<div class="">
    <div class="c-height">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100 mx-auto" src="~/Content/images/img1.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 mx-auto" src="~/Content/images/img2.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 mx-auto" src="~/Content/images/img3.jpg" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>*@


<!--De wow mid factor  -->
<div class="full-width">
    <div id="imagecase" style="height:440px;">
        <section id="showcase">
            <h1> Voor de beste kwaliteit!</h1>
            <p> Gewoon bij Hot Buns </p>
        </section>
    </div>
</div>
<!-- Midden ding-->
<section id="newsletter">
    <div class="container">
        <center>
            <h1> De beste kwaliteit voor de laagste prijs!</h1>
        </center>
        <form>
            <!-- <input type="email" placeholder="Vul uw e mailadres in">
            <button type="submit" class="button_1">Versturen</button> -->
        </form>
    </div>
</section>

<!-- Tekst onder Foto -->
<div class="container" style="background-color: white;">
    <div class="row">
        <br>
        <h5>
            Met een passie voor brood zijn wij opgericht, en dat proeft u. Wij hebben een groot
            assortiment die wij bij uw aan huis bezorgen tot aan de deur.
        </h5>
        <br>
        <h5> Bij Hot Buns staat u nooit alleen. Wij helpen u met het kiezen van het brood dat het beste past bij uw smaak </h5>
        <br>
        <h5> Als u niet tevreden bent met onze producten kunt u altijd contact met ons opnemen</h5>
        <br>
        <h5> Namens ons team wensen wij u veel winkel plezier en hopen wij u gauw terug te zien!</h5>
        <br>
    </div>
</div>
