@{
    ViewBag.Title = "Retours";
}



<div class="container">

    <div class="row">
        <div class="container mx-auto">
            <h2>@ViewBag.Title.</h2>
            <h4>Mag ik mijn artikelen retourneren?</h4>
            <a>De retourvoorwaarden vind je hieronder. Waar het op neerkomt, is dat je rustig over je aankoop mag nadenken. Als je artikel geen goede match is, mag je het gratis naar ons terugsturen binnen de zichttermijn.</a>
            <h4>Hoe retourneer ik mijn artikelen?</h4>

        </div>
    </div>

</div>



