@{
    ViewBag.Title = "Algemene Vragen";
}



<div class="container">

    <div class="row">
        <div class="container mx-auto">

            @* Bestellingen *@
            <h2>Bestellingen</h2>
            <h4>Hoe plaats ik een bestelling?</h4>
            <a>
                Stap 1: Om een bestelling te plaatsen klikt u op het broodsoort dat u wilt hebben, en selecteer je 'In Winkelwagen zetten'. <br />
                Stap 2: Nadat u alle producten heeft geselecteerd die u wilt hebben, gaat u naar de winkelwagen en drukt u op 'bestellen'. <br />
                Stap 3: U log in op uw account, of zonodig, regristreerd zich op onze website. <br />
                Stap 4: U betaald voor de producten m.b.v Paypal / Ideal. <br />
                <br />
            </a>
            <h4>Hoe annuleer ik een bestelling?</h4>
            <a>
                Via jouw persoonlijke pagina "Mijn Account" kun je altijd zien hoe jouw bestelling er uit ziet en kun je deze annuleren.
                Als je jouw bestelling niet wilt ontvangen, kun je onder "Jouw Bestelling" met een druk op de knop "Bestelling Annuleren" je bestelling annuleren.
                In dat geval wordt de bestelling volledig geannuleerd en je eerdere betaling zal worden teruggestort.
            </a>


            <br />
            <br />

            @* Betalingen *@
            <h2>Betalingen</h2>
            <h4>Hoe kan ik mijn bestelling betalen</h4>
            <a>
                Bestellingen betaald u direct via Ideal / Paypal bij het plaatsen van uw bestelling. <br />
                Op uw Account kan u zien welke betalingen u allemaal heeft gemaakt. <br />
            </a>
            <a><b>Extra Informatie Paypal + Ideal <br /></b></a>
            <a href="https://www.paypal.com/us/home">Paypal</a>
            <br />
            <a href="https://www.ideal.nl/en/">Ideal</a>

            <br />
            <br />

            @* Retours *@
            <h2>Retouren</h2>
            <h4>Mag ik mijn artikelen retourneren?</h4>
            <a>De retourvoorwaarden vind je hieronder. Waar het op neerkomt, is dat je rustig over je aankoop mag nadenken. Als je artikel geen goede match is, mag je het gratis naar ons terugsturen binnen de zichttermijn.</a>
            <a><b><br />Retourvoorwaarden</b></a>
            <a><br />U mag een product terugsturen als het overeenkomt met een van deze eisen.</a>
            <ol>
                <li>Het product is beschimmeld wanneer u het binnen krijgt</li>
                <li>Het product is dusdanig beschadigt dat het het eet plezier beinvloed. (VB: Gebroken koeken)</li>
                <li>Het product zijn kwaliteit is lager dan geadverteerd (VB: Zeer donker gebakken, Grote gaten in het brood)</li>
            </ol>
            <a>Als het product aan een van deze eisen voldoet, dan krijgt u uw geld terug zolang u een aankoopbewijs kan laten zien.</a>

        </div>
    </div>

</div>



